### Preseed for Ubuntu 18.04
# Derived from: https://help.ubuntu.com/lts/installation-guide/example-preseed.txt

### Usage
# We recommend to use the build-iso.sh script to build an image with embedded
# preseed and other required files. In that case the preseed file gets loaded
# automatically and all additional files are available to the installer.

### Unattended Installation
d-i auto-install/enable boolean true
d-i debconf/priority select critical

### Localization
d-i debian-installer/locale string en_US.UTF-8
d-i localechooser/supported-locales multiselect en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select GB

### Network configuration
d-i /choose_interface select auto
# d-i netcfg/hostname string device
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i hw-detect/load_firmware boolean true

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true

# LG provided NTP, should be replaced! 
d-i clock-setup/ntp-server string ntp.ubuntu.com

### Partitioning
d-i preseed/early_command string umount /media || true
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/new_vg_name string main
d-i partman-md/device_remove_md boolean true
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-basicmethods/method_only boolean false

### Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

### EFI
d-i partman-efi/non_efi_system boolean true

### Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

### Disk layout
d-i partman-auto-lvm/new_vg_name string vg-root
d-i partman-auto/expert_recipe string                         \
      custom-lvm ::                                           \
        269 269 269 ext4 $primary{ } $bootable{ }             \
        mountpoint{ /boot }                                   \
        method{ format }                                      \
        format{ }                                             \
        use_filesystem{ }                                     \
        filesystem{ ext4 }                                    \
        .                                                     \
        2152 2152 100% linux-swap $lvmok{ }                   \
        lv_name{ lv_swap }                             	      \
        in_vg { vg-root }                                     \
        method{ swap }                                        \
        format{ }                                             \
        .						      \
        8608 1 8608 ext4 $lvmok{ }                            \
        mountpoint{ / }                                       \
        lv_name{ lv_root }                                    \
        in_vg { vg-root }                                     \
        method{ format }                                      \
        format{ }                                             \
        use_filesystem{ }                                     \
        filesystem{ ext4 }                                    \
        .                                                     \
        1076 1 1076 ext4 $lvmok{ }                            \
        mountpoint{ /export/home }                            \
        lv_name{ lv_home }                                    \
        in_vg { vg-root }                              	      \
        method{ format }                                      \
        format{ }                                             \
	options/nodev{ nodev }                                \
        use_filesystem{ }                                     \
        filesystem{ ext4 }                                    \
        .                                                     \
        1076 1 1076 ext4 $lvmok{ }                            \
        mountpoint{ /tmp }                                    \
        lv_name{ lv_tmp }                                     \
        in_vg { vg-root }                              	      \
        method{ format }                                      \
        format{ }                                             \
	options/nodev{ nodev }                                \
	options/nosuid{ nosuid }                              \
	options/noexec{ noexec }                              \
        use_filesystem{ }                                     \
        filesystem{ ext4 }                                    \
        .                                                     \
        2152 1 2152 ext4 $lvmok{ }                            \
        mountpoint{ /var }                                    \
        lv_name{ lv_var }                                     \
        in_vg { vg-root }                              	      \
        method{ format }                                      \
        format{ }                                             \
        use_filesystem{ }                                     \
        filesystem{ ext4 }                                    \
        .                                                     \
        2152 1 2152 ext4 $lvmok{ }                            \
        mountpoint{ /var/log }                                \
        lv_name{ lv_log }                                     \
        in_vg { vg-root }                              	      \
        method{ format }                                      \
        format{ }                                             \
        use_filesystem{ }                                     \
        filesystem{ ext4 }                                    \
        .                                                     \
        538 1 538 ext4 $lvmok{ }                              \
        mountpoint{ /var/log/audit }                          \
        lv_name{ lv_audit }                                   \
        in_vg { vg-root }                              	      \
        method{ format }                                      \
        format{ }                                             \
        use_filesystem{ }                                     \
        filesystem{ ext4 }                                    \
        .                                                     \
        128 1 -1 ext4 $lvmok{ }                               \
        mountpoint{ /tmp/delete }                             \
        lv_name{ lv_delete }                                  \
        in_vg { vg-root }                              	      \
        method{ format }                                      \
        format{ }                                             \
        use_filesystem{ }                                     \
        filesystem{ ext4 }                                    \
        .                                                     
# Write and configure LVM 
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish
d-i partman/confirm_write_new_label boolean true
d-i partman-auto-lvm/guided_size string max
        
### Base system installation
d-i base-installer/install-recommends boolean true
d-i base-installer/kernel/override-image string linux-server
d-i debconf debconf/frontend select Noninteractive

### Apt setup
#d-i apt-setup/restricted boolean true
#d-i apt-setup/universe boolean true
#d-i apt-setup/backports boolean true
#d-i apt-setup/use_mirror boolean false
#d-i apt-setup/services-select multiselect security, updates
#d-i apt-setup/security_host string security.ubuntu.com
#d-i apt-setup/security_path string /ubuntu

# setup password login
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

#
d-i passwd/user-default-groups string adm audio cdrom dip lpadmin sudo plugdev sambashare video

# install packages, including ssh server
d-i pkgsel/include string openssh-server qemu-guest-agent
d-i pkgsel/install-language-support boolean false


d-i time/zone string America/New_York

# Upgrade packages after debootstrap? (none, safe-upgrade, full-upgrade)
# (note: set to none for speed)
d-i pkgsel/upgrade select safe-upgrade

d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true


choose-mirror-bin mirror/http/proxy string

# Keyboard selection.
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select de
d-i keyboard-configuration/layoutcode string de
d-i keyboard-configuration/variantcode string nodeadkey
d-i debian-installer/locale string en_US.UTF8

tasksel tasksel/first multiselect standard, ubuntu-server

#        echo 'Defaults:ubuntu !requiretty' > /target/etc/sudoers.d/ubuntu;              \
#        sed -i 's/\(.*GRUB_TERMINAL\)=.*/\1=\"console=tty1 console=ttyS0\"/g' /target/etc/default/grub;                 \

d-i preseed/late_command string                                                         \
        echo 'packer ALL=(ALL) NOPASSWD: ALL' >> /target/etc/sudoers.d/packer;          \
        chmod 440 /target/etc/sudoers.d/packer;                                         \
        sed -i 's/\(GRUB_CMDLINE_LINUX_DEFAULT=\).*/\1\"\"/g' /target/etc/default/grub; \
        sed -i 's/\(GRUB_TIMEOUT_STYLE=\).*/\1\"menu\"/g' /target/etc/default/grub;     \
        sed -i 's/\(GRUB_TIMEOUT=\).*/\1\"5\"/g' /target/etc/default/grub;              \
        sed -i 's/.*\(GRUB_TERMINAL=.*\)/#\1/g' /target/etc/default/grub;               \
        in-target bash -c 'update-grub'

d-i finish-install/reboot_in_progress note


